
body{
    margin: 20px;
}

h1{
    text-align: center;
    margin-bottom: 20px;
}

p{
    text-align: center;
    font-size: 30px;
}

span{
    color: red;
}

.btn-primary:hover{
    background: green;
}

button{
    margin-top: 20px;
}